
.masthead-content {
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, $secondary 0%, $primary 100%);
  text-align: center;
  .masthead-heading {
    font-size: 4rem;
  }
  .masthead-subheading {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}
