// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "bootstrap-overrides.scss";

header > .masthead {
    padding-top: 7rem;
}

.input-group label{
    margin-top: .4rem;
}

.thor-reward {
    margin: 0 auto;
    margin-top: 25px;
    .result-label {
    	font-weight: 600;
    	font-size: 14px;
    }
    .result-text {
    	font-weight: 900;
    	font-size: 24px;
    }
}
#priceAndNodeForm {
    margin-top: 25px;
}

.custom-select {
    width: 100%;
}

#vetamount {
	text-align: center;
	font-weight: 900;
}